# projects files
.idea
nbproject
.buildpath
.project
.settings

# thumbnail cache, Mac DS_Store Files
Thumbs.db
.DS_Store

# composer vendor dir
/vendor
composer.lock

# local phpunit config
/phpunit.xml
